*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #1a1a1a;

    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 200px;

}

svg{
    width: 70%;
    height: 70%;
}

#square{
    animation: show 7s ease forwards,
               up-square 4s ease 5s forwards;
}

#x{
    animation: show 7s ease forwards,
               up-x 4s ease 5s forwards;
}

#o{
    animation: show 7s ease forwards,
               up-circle 4s ease 5s forwards;
}

#triangle{
    animation: show 7s ease forwards,
               up-triangle 4s ease 5s forwards;
}

#logo{
    opacity: 0;
    animation: logo 7s ease 5.5s forwards;

}

#logo-square{
    opacity: 0;
    animation: logo 7s ease 5.5s forwards;

}

@keyframes logo {
    0%{
        transform: skew(45deg , 0deg)
               translateY(400px)
               translateX(200px);
        opacity: 0;
        scale: 0.3;
        fill-opacity: 0;
        stroke-dasharray: 1 1000;
        filter: drop-shadow(20px 20px 20px rgba(0, 0, 0 ,0))
                drop-shadow(-20px 20px 20px rgba(0, 0, 0 ,0));

    }
    10%{
        transform: skew(45deg , 0deg)
               translateY(0px)
               translateX(0px);
        opacity: 1;
        scale: 0.3;
        fill-opacity: 0;
        stroke-dasharray: 1 1000;
        filter: drop-shadow(20px 20px 20px rgba(0, 0, 0 ,0))
                drop-shadow(-20px 20px 20px rgba(0, 0, 0 ,0));
    }
    50%{
        transform: skew(0deg , 0deg)
               translateY(0px)
               translateX(0px);
        opacity: 1;
        scale: 1;
        fill-opacity: 0;
        stroke-dasharray: 150 0;
        filter: drop-shadow(20px 20px 20px rgba(0, 0, 0 ,0))
                drop-shadow(-20px 20px 20px rgba(0, 0, 0 ,0));
        
    }
    60%{
        transform: skew(0deg , 0deg)
               translateY(0px)
               translateX(0px);
        opacity: 1;
        scale: 1;
        fill-opacity: 1;
        stroke-dasharray: 150 0;
        filter: drop-shadow(20px 20px 20px rgba(0, 0, 0 ,0))
                drop-shadow(-20px 20px 20px rgba(0, 0, 0 ,0));
    }
    100%{
        transform: skew(0deg , 0deg)
               translateY(0px)
               translateX(0px);
        opacity: 1;
        scale: 1;
        fill-opacity: 1;
        stroke-dasharray: 150 0;
        filter: drop-shadow(20px 20px 20px rgba(151, 165, 211 ,0.5))
                drop-shadow(-20px 20px 20px rgba(151, 165, 211 ,0.5));
    }
}

@keyframes up-triangle {
    from{
        transform: translateY(0px) translateX(0px);
        opacity: 1;
    }
    to{
        transform: translateY(-280px) translateX(230px);
        opacity: 0;
    }
}

@keyframes up-circle {
    from{
        transform: translateY(0px) translateX(0px);
        opacity: 1;
    }
    to{
        transform: translateY(-280px) translateX(85px);
        opacity: 0;
    }
}

@keyframes up-x {
    from{
        transform: translateY(0px) translateX(0px);
        opacity: 1;
    }
    to{
        transform: translateY(-280px) translateX(-60px);
        opacity: 0;
    }
}

@keyframes up-square {
    from{
        transform: translateY(0px) translateX(0px);
        opacity: 1;
    }
    to{
        transform: translateY(-280px) translateX(-210px);
        opacity: 0;
    }
}

@keyframes show {
    0%{
        fill-opacity: 0;
        stroke-dasharray: 1 1000;
        stroke-width: 0;
    }
    50%{
        fill-opacity: 0;
        stroke-dasharray: 150 1;
        stroke-width: 1;
    }
    100%{
        fill-opacity: 1;
        stroke-dasharray: 150 1;
        stroke-width: 1;
    }

}